<section class="aplicacion__seccion" aria-labelledby="titulo-formulario">
  <h2 class="aplicacion__subtitulo" id="titulo-formulario">
    @if (notaId !== null) { Editando nota } 
    @else { Redactar nueva nota }
  </h2>
  
<form class="formulario-nota" [formGroup]="formularioNota" (ngSubmit)="guardar()">
    <fieldset class="formulario-nota__grupo">
      <legend class="formulario-nota__leyenda">Detalles de tu nota</legend>
      
      <p class="formulario-nota__campo">
        <label class="formulario-nota__etiqueta" for="titulo-nota">Título de la nota:</label>
        <input 
          class="formulario-nota__entrada"
          type="text" 
          id="titulo-nota" 
          formControlName="titulo" 
          placeholder="Ej. Lista de la compra..." 
        />

        @if (formularioNota.get('titulo')?.invalid && formularioNota.get('titulo')?.touched) {
          <span class="mensaje-error">
            @if (formularioNota.get('titulo')?.hasError('required')) { El título es obligatorio. }
            @if (formularioNota.get('titulo')?.hasError('minlength')) { Mínimo 4 caracteres. }
            @if (formularioNota.get('titulo')?.hasError('maxlength')) { Máximo 20 caracteres. }
          </span>
        }
      </p>
      
      <p class="formulario-nota__campo">
        <label class="formulario-nota__etiqueta" for="contenido-nota">Contenido:</label>
        <textarea 
          class="formulario-nota__entrada formulario-nota__entrada--area"
          id="contenido-nota" 
          name="contenido" 
          formControlName="contenido"
          placeholder="Escribe todos los detalles aquí..." 
          rows="4" 
        ></textarea>

        @if (formularioNota.get('contenido')?.invalid && formularioNota.get('contenido')?.touched) {
          <span class="mensaje-error">
            @if (formularioNota.get('contenido')?.hasError('required')) { El contenido es obligatorio. }
            @if (formularioNota.get('contenido')?.hasError('minlength')) { Mínimo 15 caracteres. }
            @if (formularioNota.get('contenido')?.hasError('maxlength')) { Máximo 400 caracteres. }
          </span>
        }
      </p>
      
      <ul class="formulario-nota__acciones">
        <li>
          <button class="boton boton--primario" type="submit" [disabled]="formularioNota.invalid">
            @if (notaId !== null) { Actualizar } 
            @else { Guardar Nota }
          </button>
        </li>
        <li>
          <a class="boton boton--secundario" routerLink="/lista">
            Cancelar / Volver
          </a>
        </li>
      </ul>
    </fieldset>
  </form>
</section>